body {
  background: url(images/bg-main.png);
  color: #202050;
  font-family: "museo-slab-1","museo-slab-2";
  font-weight: 100;
  line-height: 1.5em;
}

header {
  padding: 18px 0;
}

.container {
  margin: 0 auto;
  width: 750px;
}

.container.body {
  padding: 0 0 36px 137px;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h2 {
  margin-top: 1.6em;
}

code {
  font-size: 17px;
}

.important, a {
  color: #e93e3d;
}

.footnote {
  padding-top: 1.5em;
}
